.header{
    background-color: rgb(0, 1, 2);
}
.header h1{
    font-size: 65px;

}
.header h2{
    font-size: 35px;
}
https://wallpapers.com/images/hd/gorgeous-poster-of-rrq-team-87kntfrz597892kx.jpg
